.profil-page {
    background-image: url("../../public/BackgroundFirstPage.png");
    background-position: center;
    background-size: cover;
    height: 140vh;
    padding-top: 20px;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
  }
  
  .show-my-gain-table {
    padding-left: -100px;
    width: 25%;
    max-height: 70vh; 
    
  }
  
  .chat {
    
    width: 50%; 
    margin: 10px;
   
    
  }
  
  .show-rank-table {
    width: 25%;
    margin-left: 10px;
    max-height: 70vh; 
    
  }